<!DOCTYPE html>
<html class = "no-js" lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <title>The Scholar's App</title>
    </head>
    <body>
        <div class = "container justify-content-center">
             <header class= "header clearfix">
            <nav class = " navbar  navbar-expand-lg navbar-dark bg-dark">
                <ul class = "nav navbar.nav-center navbar-expand-lg">
                    
                    <li class = "nav-item"><a class = "nav-link" href = "/selection">Quiz</a></li>
                    <li class = "nav-item"><a class = "nav-link active" href = "/accountC">Account</a></li>
                    <li class = "nav-item"><a class = "nav-link" href = "/logout">Logout</a></li>
                    
                </ul>
            </nav>
        </header>
        </div>