<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <title>The Scholar's App</title>
    </head>

    <body>
        <h1 class = "text-center">Welcome Scholar!</h1>
        <div class = "container float-center text-center">
            
            <a class ="btn btn-dark text-center" href = "signIn">Sign In</a>
            <br>
            <br>
            
            <a class = "btn btn-dark text-center" href = "signUp">Sign Up</a>
            
            
        </div>
        
    </body>

</html>